* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#app{
    width:700% ;
    height: 100%;
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
    flex-direction: row;
    position: absolute;



}
@keyframes bgmove {
    0%{
        -ms-background-position-x: 0;
        background-position-x: 0;
    }
    100%{
        -ms-background-position-x: 100%;
        background-position-x: 100%;
    }
}
@keyframes moveto {
    0%{
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(4rem);
        -moz-transform: translateX(4rem);
        -ms-transform: translateX(4rem);
        -o-transform: translateX(4rem);
        transform: translateX(4rem);
    }

}
#first{
    width: 8.04rem;
    height:100%;
    position: relative;
    flex:none;
    background-image: url("../images/bg_01.png");
    background-position:center;
    background-size: cover;
}

@keyframes float {
    0%{
        transform: translate(0,0);
    }
    12.5%{
        transform: translate(1.25rem,-0.5rem);
    }
    25%{
        transform: translate(2.5rem,0);
    }
    37.5%{
        transform: translate(3.75rem,-0.5rem);
    }
    50%{
        transform: translate(5rem,0);
    }
    62.5%{
        transform: translate(3.75rem,-0.5rem);
    }
    75%{
        transform: translate(2.5rem,0);
    }
    87.5%{
        transform: translate(1.25rem,-0.5rem);
    }
    100%{
        transform: translate(0,0);
    }
}
@-webkit-keyframes float {
    0% {
        transform: translate(0, 0);
    }
    12.5% {
        transform: translate(1.25rem, -0.5rem);
    }
    25% {
        transform: translate(2.5rem, 0);
    }
    37.5% {
        transform: translate(3.75rem, -0.5rem);
    }
    50% {
        transform: translate(5rem, 0);
    }
    62.5% {
        transform: translate(3.75rem, -0.5rem);
    }
    75% {
        transform: translate(2.5rem, 0);
    }
    87.5% {
        transform: translate(1.25rem, -0.5rem);
    }
    100% {
        transform: translate(0, 0);
    }
}
@-webkit-keyframes fade-in {
    0%{
        display: none;
    }
    100%{
        display: block;
    }
}
@keyframes fade-in {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}


@keyframes mymove {
    0% {
        box-shadow: 0px 0px 0px 2px #fff;
        height: 1rem;
        width: 1rem;
    }
    100% {
        box-shadow: 0px 0px 0px 20px #fff;
        height: 1.01rem;
        width: 1.01rem;
    }
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@keyframes mymove1 {
    0% {
        box-shadow: 0px 0px 0px 2px #fff;
        height: 1rem;
        width: 1.01rem;
    }
    50% {
        box-shadow: 0px 0px 0px 20px #fff;
        height: 1.01rem;
        width: 1.01rem;
        opacity: 0;
    }
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

#app .sun{
    width: 2.82rem;
    height: 2.82rem;
    background-image: url("../images/stwind_03.png");
    background-position: center center;
    background-size: cover;
    position: absolute;
    top:.2rem;
    left:0;
    animation: moveto 10s linear forwards;
}
#first .tree{
    width: 5.24rem ;
    height: 5.78rem;
    background-image: url("../images/tree_03.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 1rem;
    top:6.2rem;
    z-index: 10;
}
#first .shadow-tree{
    width: 1.43rem;
    height: .91rem;
    background-image: url("../images/shadow_03.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 5.2rem;
    top:11.8rem;
    animation: swing 20s linear forwards;
    transform-origin: top left;

}
@keyframes swing {
    0%{
        transform: rotateZ(0deg);
        width: 2rem;
    }
    50%{
        transform: rotateZ(45deg);
        height: .5rem;
        background-size: contain;
        top:11.5rem;

    }
    100%{
        transform: rotateZ(90deg);
        width: 1.43rem;
        height: .91rem;
        background-size: cover;
        left:5rem;
        top: 11.8rem;
    }
}

#first .cloud1{
    width: 4.03rem;
    height: 2.1rem;
    background-image: url("../images/first_06.png");
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: .5rem;
    top: 2.03rem;
    animation: movetodown 5s linear alternate infinite;
}
#first .cloud2{
    width: 5.04rem;
    height:1.16rem;
    background-image: url("../images/first_10.png");
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: .5rem;
    top: 4.5rem;
    animation: moveto 5s linear infinite alternate;
}#first .cloud3{
     width: 3.69rem;
     height: .72rem;
     background-image: url("../images/first_14.png");
     background-size: cover;
     background-position: center center;
     position: absolute;
     right: .5rem;
     top: 6rem;
     animation: moveto 5s linear infinite alternate;

 }
@keyframes movetodown {
    0%{
        -webkit-transform: translateX(0)  translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);

    }
    100%{
        -webkit-transform: translateX(4rem) translateY(1rem);
        -moz-transform: translateX(4rem) translateY(1rem);
        -ms-transform: translateX(4rem) translateY(1rem);
        -o-transform: translateX(4rem) translateY(1rem);
        transform: translateX(4rem) translateY(1rem);
    }

}
#first .arrow{
    width: .4rem;
    height: .4rem;
    position: absolute;
    top:5rem;
    left:0;
    right:0;
    margin:auto;
    animation: flyT 1s ease infinite alternate;
}
@keyframes flyT {
    0%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(-50%);
    }
}
#sec{
    width: 8.04rem;
    height: 100%;
    flex:none;
    position: relative;
    background-image: url("../images/bg_03.png");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    /*animation: scaleShow 10s linear forwards ;*/
}
#sec .door{
    width: 1.78rem;
    height: 3.12rem;
    background-image: url("../images/sec_03.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top:8.75rem;
    right:0;
}
#sec .zhalan{
    width: .51rem;
    height: 1.84rem;
    background-image: url("../images/sec2_17.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top:10.3rem;
    right:0;
}
@keyframes scaleShow {
    0%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
        border-radius: 0;
    }
    100%{
        -webkit-transform: scale(.5,.5) rotateZ(360deg);
        -moz-transform: scale(.5,.5) rotateZ(360deg);
        -ms-transform: scale(.5,.5) rotateZ(360deg);
        -o-transform: scale(.5,.5) rotateZ(360deg);
        transform: scale(.5,.5) rotateZ(360deg);
        border-radius: 50%;

    }
}
#sec .direct{
    width: 2.81rem;
    height: 5.01rem;
    background-image: url("../images/dir_03.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top:6rem;
    right:1.2rem;
}
#sec .arrow{
   width: 2.23rem;
    height: .65rem;
    background-image: url("../images/diritem_06.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: .5rem;
    left: -.7rem;

}
#sec .tips{
    width: .4rem;
    height: .4rem;
    position: absolute;
    top:5rem;
    right: 3.7rem;
    margin:auto;
    animation: flyT 1s ease infinite alternate;
    z-index: 20;
}
.drops{
    animation: rotate 3s linear infinite,drops 1s cubic-bezier(0, 0, 0, 1.45) 6s forwards;
}
#sec .light{
    width: 1.32rem;
    height: 1.65rem;
    background-image: url("../images/diritem_03.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 1rem;
    left: 1.6rem;
    animation: sway 10s linear infinite alternate;
    transform-origin: top left;
}
#sec .lightShadow{
    width: .8rem;
    height: 1.2rem;
    background: rgba(255,255,255,0);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px rgba(255,255,255,.5);
}
@keyframes rotate {
    0%{
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100%{
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@keyframes drops {
    0%{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    100%{
        -webkit-transform: translateY(4.54rem);
        -moz-transform: translateY(4.54rem);
        -ms-transform: translateY(4.54rem);
        -o-transform: translateY(4.54rem);
        transform: translateY(4.54rem);
    }
}
@keyframes sway {
    0%{
        -webkit-transform: rotateZ(15deg);
        -moz-transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -o-transform: rotateZ(15deg);
        transform: rotateZ(15deg);
    }
    100%{
        -webkit-transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
    }
}
#third{
    width: 8.04rem;
    height: 100%;
    flex:none;
    position: relative;
    background-image: url("../images/bg_06.png");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
    /*animation: scaleShow 10s linear forwards ;*/
}
#third .funny{
    width: 8.29rem;
    height: 6.92rem;
    background-image: url("../images/funny_06.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 5rem;
    left: 0rem;
    z-index: 10;
}
#third .flag{
    width: 1.32rem;
    height: 2.09rem;
    background-image: url("../images/funny_03.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -1.8rem;
    left:0;
    right:0;
    margin:auto;
    z-index: 10;
}
#third .tips{
    width: .4rem;
    height: .4rem;
    position: absolute;
    top:6rem;
    right: 2.7rem;
    margin:auto;
    animation: flyT 1s ease infinite alternate;
    z-index: 20;
}
#fth{
    width: calc(8.04rem * 3);
    height: 100%;
    flex:none;
    background-image: url("../images/bgitem_18.png");
    background-size: cover;
    background-position: center;
    position: relative;
}
#fth .tips{
    width: .4rem;
    height: .4rem;
    position: absolute;
    top:7rem;
    right: 0;
    left:0;
    margin:auto;
    animation: flyT 1s ease infinite alternate;
    z-index: 20;
    display: none;
}
#fth .door{
    width: 10.77rem;
    height: 5.62rem;
    background-image: url("../images/bgitems_15.png");
    background-size: cover;
    background-position: center center;
    position: absolute;
    bottom:3.3rem;
    left:6.2rem;
    z-index: 10;
}
#fth .door .doorin{
    width: 1.74rem;
    height: 2.2rem;
    background-image: url("../images/doorin.png");
    background-size: cover;
    background-position: center center;
    position: absolute;
    left:0;
    right:0;
    margin:auto;
    bottom: .28rem;
}
#fth .ferris{
    width:5.4rem;
    height: 5.4rem;
    background-image: url("../images/wheel_07.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    right:2.7rem;
    top: 3.6rem;
    animation:ferris 5s linear infinite;
    /*animation: rote 2s linear infinite forwards;*/
}
@keyframes ferris {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.rooms{
    width:5.4rem;
    height:5.4rem;
    position: absolute;
    right:2.7rem;
    top:3.6rem;
    z-index:9;
}
.rooms div{
    width:.84rem;
    height:.84rem;
    position: absolute;
    background-image: url("../images/bgitems_17.png");
    background-size: cover;
    background-position: center;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.rooms div:nth-child(1){
    animation: wqrotate1 5s linear infinite;
}
.rooms div:nth-child(2){
    animation: wqrotate2 5s linear infinite;
}
.rooms div:nth-child(3){
    animation: wqrotate3 5s linear infinite;
}
.rooms div:nth-child(4){
    animation: wqrotate4 5s linear infinite;
}
.rooms div:nth-child(5){
    animation: wqrotate5 5s linear infinite;
}
.rooms div:nth-child(6){
    animation: wqrotate6 5s linear infinite;
}
.rooms div:nth-child(7){
    animation: wqrotate7 5s linear infinite;
}
.rooms div:nth-child(8){
    animation: wqrotate8 5s linear infinite;
}
@keyframes rote {
    0%{
        transform:rotateZ(0deg);
    }
    100%{
        transform:rotateZ(360deg);
    }
}
#fith{
    width: 8.04rem;
    height: 100%;
    flex:none;
    position: relative;
    background-image: url("../images/wall_06.png");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;

}
#f-wraper{
    width: 8.04rem;
    height: 100%;
    flex:none;
    position: absolute;
    top:0;
    left:0;
    background-image: url("../images/wall_06.png");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
}
#fith .door{
    width: 1.2rem;
    height: 1.2rem;
    position:absolute;
    /*background: #000;*/
    top:4.4rem;
    left:.3rem;
    overflow: hidden;
    z-index: 10;
}
#fith .box{
    width: 0;
    height: 0;
    position:absolute;
    background: #fff;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    -webkit-box-shadow: 0 0 15px 5px #ffffff ;
    -moz-box-shadow: 0 0 15px 5px #ffffff ;
    box-shadow: 0 0 15px 5px #ffffff ;
    border-radius: 50%;
}
#sixth{
    width: 8.04rem;
    height: 100%;
    flex:none;
    position: absolute;
    top:0;
    left:0;
    background-image: url("../images/wall_03.png");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
    display: none;
    font-size: 14px;
    color: #fff;
}
#sixth .gomask{
    width: 100%;
    height: 4rem;
    background: rgba(0,0,0,.5);
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    padding: 10px 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:left;
}
#sixth p:first-of-type{
    width: 100%;
    text-align: center;
}
#sixth .go{
    width: 3.6rem;
    height: .8rem;
    border-radius: .8rem;
    background: rgba(122,204,239,.8);
    position: absolute;
    left:0;
    right:0;
    bottom:2rem;
    margin:auto;
    text-align: center;
    line-height: .8rem;
}
#seven{
    width: 8.04rem;
    height: 100%;
    flex:none;
    position: relative;
    background-image: url("../images/bgimg_06.png");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
    display: none;
}
#seven .car{
    width: 4.37rem;
    height: 2.24rem;
    background-image: url("../images/bgitem_14.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: .8rem;
    left: -4.37rem;

}
#seven .car .wheel1{
    width: .76rem;
    height: .76rem;
    position: absolute;
    bottom: .2rem;
    background-image: url("../images/wheel_03.png");
    background-size: cover;
    background-position: center;
    animation: zhuan 1s linear infinite forwards ;
}
#seven .car .w1{
    left: .4rem;
}
#seven .car .w2{
    right: .8rem;
}
.active{
    animation: runcar 5s linear forwards infinite;
}
@keyframes runcar {
    0%{
        left:-4.37rem;
    }
    100%{
        left:12.41rem;
    }
}
@keyframes zhuan {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
#seven .tree{
    width: 5.94rem;
    height: 2.03rem;
    position: absolute;
    background-image: url("../images/bgitems_11.png");
    background-size: cover;
    background-position: center;
    bottom: 0;
    left:0;
}
#eight{
    width: 8.04rem;
    height: 100%;
    flex:none;
    position: relative;
    background-image: url("../images/bgimg_03.png");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
    display: none;

}
#eight .air{
    position: absolute;
    animation: floatT 5s linear infinite forwards;
}
@keyframes floatT {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(10%);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
    }
}
#eight .ball1{
    width: 5.66rem;
    height: 6.48rem;
    background-image: url("../images/bgitem_03.png");
    background-size: cover;
    background-position: center;
    top: 1rem;
    left:0;
    right:0;
    margin:auto;
}
#eight .ball2{
    width: 1.74rem;
    height: 2.03rem;
    background-image: url("../images/bgitems_03.png");
    background-size: cover;
    background-position: center;
    top: 4rem;
    right: .2rem;
    margin:auto;
}
#eight .ball3{
    width: 1.3rem;
    height: 1.72rem;
    background-image: url("../images/bgitems_07.png");
    background-size: cover;
    background-position: center;
    top: 7.6rem;
    right: 2rem;
    margin:auto;
}
#eight .ball4{
    width: .75rem;
    height: .72rem;
    background-image: url("../images/bgitem_10.png");
    background-size: cover;
    background-position: center;
    top: 7.6rem;
    left:2rem;
    margin:auto;
}
#eight .ball5{
    width: 1.2rem;
    height: 1.1rem;
    background-image: url("../images/bgitem_07.png");
    background-size: cover;
    background-position: center;
    top: 6rem;
    left: 1rem;
    margin:auto;
}

